.contenedor-formu{
    min-height: 100%;
    min-width: 100%;
}

.form-control{
    min-height: 55px;
}

.alert-container{
  min-height: 165px;
}

.btn-submit-container{
    min-height: 38px;
}

.text-spaced{
    letter-spacing: 2px;
}

.smallError{
    min-height: 25px;
}