<div class="d-flex flex-column mt-5 container text-container">
  <h2>Juego personalizado</h2>
  <hr />
  <h3>7Dice</h3>
  <p>
    El juego personalizado, llamado 7Dice, es un mini-juego de estilo casino donde el azar y toma de
    decisiones del jugador determinarán si gana o lo pierde todo. Cada nueva ronda el usuario tendrá
    2 decisiones. - Tirar los dados - Plantarse Al tirar los dados se realiza la suma de cada uno y
    el resultado es sumado al pozo del jugador. Sin embargo, si la suma de cada dado da como
    resultado exactamente el número 7 la partida finalizará y el jugador perderá todo el pozo
    acumulado. Si este decide plantarse el juego termina y se le "recompensa" con los puntos
    acumulados.
  </p>
  <h3>Cómo jugar</h3>
  <ul>
    <li>Se te da la oportunidad de tirar los dados o plantarte.</li>
    <li>Si tirás los dados, la suma de ambos se sumará al pozo total.</li>
    <li>Si al lanzar los dados sale 7, se pierde todo el pozo acumulado.</li>
    <li>Plantarse significa terminar el juego y salvar los puntos adquiridos.</li>
  </ul>
</div>
