<div class="d-flex flex-column mt-5 container text-container">
    <h2>Juego personalizado</h2>
    <hr>
    <h3>Descripción</h3>
    <p>
        Juego por turnos inspirado en la clásica ruleta rusa, donde el jugador se enfrenta a una IA 
        utilizando un revólver cargado con balas reales y balas vacías distribuidas aleatoriamente. 
    </p>
    <h3>Cómo jugar</h3>
    <ul>
        <li>Al inicio de cada ronda, se cargará el arma con un número aleatorio de balas reales y balas de fogueo.</li>
        <li>Cada jugador tendrá la opción de dispararse a sí mismo o a su oponente.</li>
        <li>Si se dispara al oponente y no hay disparo el turno es del próximo jugador que podrá volver a elegir si dispararse a él o al oponente.</li>
        <li>Aquel que recibe un disparo pierde una de sus tres vidas totales.</li>
        <li>Al inicio de cada ronda se le dará una habilidad especial a cada jugador. Por ejemplo, recuperar una vida.</li>
        <li>Aquel que se quede sin vidas primero será el perdedor.</li>
    </ul>
</div>
