<div class="d-flex flex-column mt-5 container text-container">
    <h2>Juego personalizado</h2>
    <hr>
    <h3>Descripción</h3>
    <p>
        Juego de semi-azar, donde el jugador lanzará dados e irá sumando puntos. El riesgo cae en que, si
        la suma de los dados da 7, el jugador lo pierde todo 
    </p>
    <h3>Cómo jugar</h3>
    <ul>
        <li>Se te da la oportunidad de tirar los dados o plantarte.</li>
        <li>Si tirás los dados, la suma de ambos se sumará al pozo total.</li>
        <li>Si al lanzar los dados sale 7, se pierde todo el pozo acumulado.</li>
        <li>Plantarse significa terminar el juego y salvar los puntos adquiridos.</li>
    </ul>
</div>
